/*
Comments are my own value or style.
*/
body {
    background: #eee;
    font-family: sans-serif;
}
  
.card {
    width: 400px;
    background: #fff;
    margin: 16px auto;
    /*
    border: 10px solid white;
    instead of using padding like below.
    */
    padding: 8px;
}

.title {
    background: #e3f4ff;
    font-size: 16px; /*18px*/
    margin-top: 0; /*0px*/
    margin-bottom: 8px; /*10px*/
    padding: 8px; /*10px*/
}

.content {
    background: #e3f4ff;
    margin-bottom: 8px; /*10px*/
    padding: 16px 8px; /*15px 7px*/
}

.button-container {
    background: #e3f4ff;
    padding: 8px; /*10px*/
    text-align: center;
}

button {
    display: block;
    background: white;
    margin: 0 auto;
    border: 1px solid #eee;
    padding: 8px 24px; /*5px 20px*/
}